.component {
  background-image: url(../../assets/1.jpg) ;
  height: 100%;
  width: 100%;
  position: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  text-align: center;
  color: white;
  margin: 12.25%;

  #login, #pass {
    background-color: rgb(180, 90, 16);
    opacity: 0.7;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    width: 10em;
    transition: 0.5s;
  }

  #login:focus, #pass:focus {
    width: 17em;
    transition: 0.5s;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    align-items: center;
    color: white;
    font-weight: lighter;
  }

  .button {
    font-weight: 500;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
  }

  .button:hover {
    box-shadow: 5px 5px 10px rgb(255, 102, 1);
    transition: 0.2s;
  }

  .button:active {
    background-color: rgb(226, 169, 122);
    color: rgb(255, 255, 255);
    opacity: 0.7;
    padding: 15px;
  }
}
